<template>
<div class="container">
    <Navigation />
    <div class="section">
        <div class="field">
        <label class="label">Title</label>
        <div class="control">
            <input v-model="memo.title" class="input" type="text" placeholder="input the title">
        </div>
    </div>
    
    <div class="field">
        <label class="label">Article Text</label>
        <div class="control">
            <textarea v-model="memo.body" class="textarea" placeholder="Enter article"></textarea>
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link" @click="submit()">Update</button>
        </div>
        <div class="control">
            <button class="button is-link is-light" @click="cancel()">Cancel</button>
        </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
    computed: {
        ...mapGetters(['getMemos']),
    },
    mounted() {
        this.fetchById(this.$route.params.id)
    },
    methods: {
        ...mapActions(['fetchById']),
        submit () {
        let dbCards = db.collection('memos').doc(this.$route.params.id)
            .set({
            title: this.memo.title,
            body: this.memo.body
            })
        },
        cancel () {
            this.memo.title = "",
            this.memo.body = ""
        },
    },
}
</script>
